 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .fm{
    width: 40px;
    font-size: 30px;
    font-family: cursive;
    font-weight: 800;
    cursor: pointer;
    color: rgb(166, 99, 22);
    
  }


  
  /* Ümumi Stil */
  .mainpage {
    display: flex;
    justify-content: center;
  }
  
  .point1 {
    height: 100vh;
    width: 100%;
    position: relative;
    padding-left: 70px;
  }
  
  .alloftexts {
    width: 100%;
    padding-left: 70px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .point2 {
    width: 100%;
    height: 100vh;
    background-color: rgb(0, 0, 0);
    border-bottom-left-radius: 100%;
    display: grid;
    place-items: center;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    animation: point2 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }
  
  @keyframes point2 {
    0% {
      transform: scale(0);
      transform-origin: 100% 0%;
      opacity: 1;
    }
    100% {
      transform: scale(1);
      transform-origin: 100% 0%;
      opacity: 1;
    }
  }
  
  /* Menyu ilə əlaqəli stil */
  .menu {
    position: fixed !important;
    z-index: 10000 !important; /* Z-index dəyərini artırdıq */
    width: 100%;
    height: auto;
    flex-direction: column;
    display: flex; /* Display dəyərini əlavə etdik */
    justify-content: space-between;
    padding-inline: 20px;
    padding-top: 20px;
  }
  
  /* @media screen and (max-width: 400px) {
    .menu{
      margin-right: 15px;
    }
  } */
  .menu-open .menu {
    display: flex; /* Menu açıldığında da görünür olması üçün */
  }
  
  .menu-open .menubar {
    display: block;
    z-index: 9999; /* Z-index dəyərini azaldıq */
  }
  
  .menubutton{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-end;
  }
  
  .btn3 {
    width: 70px;
    height: 70px;
    position: fixed;
    z-index: 10000; /* Z-index dəyərini artırdıq */
    background-color: white; /* Başlanğıc arxa fon rəngi */
    border: none;
    border-radius: 100%;
    color: rgb(21,30,89);
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.1s ease;
    margin-top: 0;
    margin-right: 0;
  }

  @media screen and (max-width: 400px) {
    .btn3{
      width: 50px;
      height: 50px;
      margin-right: 20px;
    }
    .icon1{
      height: 20px;
    }
  }
  @media screen and (max-width: 450px) {
    .btn3{
      width: 50px;
      height: 50px;
    }
    .icon1{
      height: 20px;
    }


  }
  @media screen and (max-width: 400px) {
    .btn3{
      margin-right: 10px;
    }
    .icon1{
      height: 18px;
    }

  }
  
  .transparent {
    background-color: transparent;
    color: rgb(21,30,89);
  }
  
  .icon1 {
    font-size: 25px;
  }
  
  /* .btn3:hover {
    background-color: transparent;
    color: white;
  } */
  
  .menubar {
    width: 100%;
    height: 100vh;
    background-color: white;
    display: none;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    position: fixed;
    z-index: 9999;
    animation: menubar 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }
  
  .menubar.show {
    display: block;
  }
  
  ul {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  @keyframes menubar {
    0% {
      transform: translateX(1000px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  .text10 {
    width: 200px;
    height: 40px;
    color: rgb(21,30,89);
    list-style: none;
    font-size: 23px;
    text-align: center;
    cursor: pointer;
    margin-top: 12px;
    animation: text10 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }
  
  .text10:hover {
    border-radius: 50px;
    background-color:rgb(21,30,89);
    color: white;
  }
  
  @keyframes text10 {
    0% {
      letter-spacing: 1em;
      transform: translateZ(300px);
      filter: blur(12px);
      opacity: 0;
    }
    100% {
      transform: translateZ(12px);
      filter: blur(0);
      opacity: 1;
    }
  }
  
  /* Media Queries */
  @media only screen and (max-width: 990px) {
    .point2 {
      border-bottom-left-radius: 0;
    }
    .menubar {
      width: 100%;
    }
    .alloftexts, .point1 {
      padding: 0;
      margin: 0;
    }
  }
  
  @media only screen and (max-width: 908px) {
    .mainpage {
      display: grid;
    }
    .point2 {
      display: none;
    }
    .point3 {
      display: flex;
      justify-content: center;
    }
    /* .btn3 {
      background-color: rgb(0, 0, 0);
      color: rgb(255, 255, 255);
    } */
  }
  
  @media only screen and (max-width: 540px) {
    .text4 {
      display: none;
    }
  }
  
  @media screen and (max-width: 400px) {
    .btn3 {
      right: 0;
    }
  }
  
  /* Luxbar.css */

/* FM gizləndiyi zaman */
.hidden {
  display: none;
}



/* Menu açıq olduqda */
.show {
  display: block;
}

/* Menu gizlənəndə */
.hidden {
  display: none;
}
